<h1>List of Users</h1>
<table>

<% @users.each do |user| %>
  <tr> 
  <th><%= user.firstname %></th>
  <th><%= user.lastname %></th>

  <%= post.body %>
  </p>
<% end %>

<%= paginate @posts %>
<%= page_entries_info @posts %>
